.tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 40px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%);
}

.tabs div {
    cursor: pointer;
    width: 100px;
    margin: auto;
    border: 5px solid;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: white;
    user-select: none;
}

.tabs div:hover {
    border-color: #2193b0;
}

.checkedTab {
    background: linear-gradient(to left, #743ad5, #d53a9d);
}